<link rel="stylesheet" href="css/signin.css">
<form id="formUser" action="http://localhost/senasoft/savsServer/registro.php" method="post" class="form-signin">
  <h2 class="form-signin-heading">Registro</h2>

  <div class="form-group" ng-class="errorUser">
    <input ng-model="registro.user" type="text" id="inputUser" class="form-control" placeholder="Usuario" required autofocus>
    <span class="help-block" ng-show="msnErrorUser">{{ mensajeErrorUser}}</span>
  </div>
  <input ng-model="registro.password1" type="password" id="inputPassword1" class="form-control" placeholder="Contraseña" required>

  <div class="form-group" ng-class="errorPass">
    <input ng-model="registro.password2" type="password" id="inputPassword2" class="form-control" placeholder="Confirme contraseña" required>
    <span class="help-block" ng-show="msnErrorPass">{{ mensajeErrorPass}}</span>
  </div>

  <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="registrar()">Registrar</button>
  <button class="btn btn-lg btn-default btn-block" type="button" ng-click="pageInicio()">Cancelar</button>
</form>